## O que é Analise Dupont?

A análise DuPont é uma fórmula usada para avaliar o desempenho financeiro de uma empresa com base em seu retorno sobre o patrimônio líquido (ROE).

ROE: Revela quão bem uma empresa utiliza o capital dos acionistas.   

    ROE = (𝐿𝑢𝑐𝑟𝑜 𝑙𝑖𝑞𝑢𝑖𝑑𝑜)/(𝑃𝑎𝑡𝑟𝑖𝑚ô𝑛𝑖𝑜 𝑙𝑖𝑞𝑢𝑖𝑑𝑜/𝐶𝑎𝑝𝑖𝑡𝑎𝑙𝑝𝑟ó𝑝𝑟𝑖𝑜)
    
### Existem três rácios financeiras principais que impulsionam o ROE:

    ROE =(𝐿𝑢𝑐𝑟𝑜 𝑙𝑖𝑞𝑢𝑖𝑑𝑜)/𝑉𝑒𝑛𝑑𝑎𝑠∗𝑣𝑒𝑛𝑑𝑎𝑠/𝐴𝑡𝑖𝑣𝑜𝑠∗𝐴𝑡𝑖𝑣𝑜/(𝑃𝑎𝑡𝑟𝑖𝑚ó𝑛𝑖𝑜 𝑙𝑖𝑞𝑢𝑖𝑑𝑜)
    
Eficiência operacional [Rendibilidade Liquida das vendas]: Que é representada pela margem de lucro líquido ou lucro líquido dividido pelas vendas ou receitas totais. 
Eficiência no uso de ativos [Rotação do Ativo]: Que é presentada pela vendas divido pelo ativos
Alavancagem financeira [Multiplicador do Património]: Uma rácio medida pelo multiplicador de patrimônio, que é igual dos ativos dividido pelo patrimônio médio
    
### Utilidade 
Investidores: Podem utiliza-la para identificar atividades financeiras que impactam o ROE                                                        
Comparação entra Empresas: Os investidores também podem usar essa análise para comparar a eficéncia operacional de duas empresas que atuam no mesmo setor.                                   Gestores: Podem empregá-la para identificar fraquezas que precisam ser abordadas.
Gestores: Podem empregá-la para identificar fraquezas que precisam ser abordadas

### Limitações  
Dependência de Dados e processos contábeis: Depende de dados e equações contábeis que podem ser suscetiveis a manipulações.  
Falta de Contexto: É necessário ao avaliar se os indices individuais são altos ou baixos.

In [19]:
# //by: Fernando Ecumbi && DuPont Analises

# import Lib

import pandas as pd

In [20]:
# Dados da Cantina nr.1
Cantina_1 ={
    "Primeiro Ano":{'Lucro_liquido_1':1000,'Vendas_1':10000,'Ativos_1':5000,'Património_1':2000},
    "Segundo Ano":{'Lucro_liquido_1':1200,'Vendas_1':10000,'Ativos_1':4800,'Património_1':2000}
}

#Cantina_1

In [21]:
# Dados da Cantina nr.1
Cantina_2 ={
    "Primeiro Ano":{'Lucro_liquido_2':2100,'Vendas_2':17500,'Ativos_2':87500,'Património_2':5000},
    "Segundo Ano":{'Lucro_liquido_2':2100,'Vendas_2':17500,'Ativos_2':8750,'Património_2':3500}
}

In [22]:
# Criando as tabelas

Cantina_1_df = pd.DataFrame(Cantina_1)
Cantina_2_df = pd.DataFrame(Cantina_2)

In [23]:
# Mostrar Cantina_1_df
print('Dados Financeiros da Cantina_1')
Cantina_1_df

Dados Financeiros da Cantina_1

                 Primeiro Ano  Segundo Ano
Lucro_liquido_1          1000         1200
Vendas_1                10000        10000
Ativos_1                 5000         4800
Património_1             2000         2000

In [24]:
# Mostrar Cantina_2_df
print('Dados Financeiros da Cantina_2')
Cantina_2_df

Dados Financeiros da Cantina_2

                 Primeiro Ano  Segundo Ano
Lucro_liquido_2          2100         2100
Vendas_2                17500        17500
Ativos_2                87500         8750
Património_2             5000         3500

In [25]:
# Extraindo as ativitidas da tabela do primeiro ano cantina_1

lucro_liq_1 = Cantina_1_df['Primeiro Ano'].iloc[0]
vendas_1 = Cantina_1_df['Primeiro Ano'].iloc[1]
ativos_1 = Cantina_1_df['Primeiro Ano'].iloc[2]
patrimonio_1 = Cantina_1_df['Primeiro Ano'].iloc[3]

# Calc da DuPont - calc 3 racios

# RLV = Rendibilidade liquida das vendas
# RT = Rotação do Ativo
# MPL = Multiplicador do Patrimonio Liquido

RLV_1 =  lucro_liq_1/ vendas_1
RT_1 = vendas_1 / ativos_1
MPL_1 = ativos_1 / patrimonio_1
DuPont_1 = RLV_1 * RT_1 * MPL_1 * 100


# Extraindo as ativitidas da tabela do segundo ano antina_1

lucro_liq_12 = Cantina_1_df['Segundo Ano'].iloc[0]
vendas_12 = Cantina_1_df['Segundo Ano'].iloc[1]
ativos_12 = Cantina_1_df['Segundo Ano'].iloc[2]
patrimonio_12 = Cantina_1_df['Segundo Ano'].iloc[3]

RLV_12 =  lucro_liq_12/ vendas_12
RT_12 = vendas_12 / ativos_12
MPL_12 = ativos_12 / patrimonio_12
DuPont_12 = RLV_12 * RT_12 * MPL_12 * 100

In [26]:
# Extraindo as ativitidas da tabela do primeiro ano cantina_2

lucro_liq_2 = Cantina_2_df['Primeiro Ano'].iloc[0]
vendas_2 = Cantina_2_df['Primeiro Ano'].iloc[1]
ativos_2 = Cantina_2_df['Primeiro Ano'].iloc[2]
patrimonio_2 = Cantina_2_df['Primeiro Ano'].iloc[3]

# Calc da DuPont - calc 3 racios

# RLV = Rendibilidade liquida das vendas
# RT = Rotação do Ativo
# MPL = Multiplicador do Patrimonio Liquido
# DuPont = ROE = Retorno sobre o atrimonio Liquido

RLV_2 =  lucro_liq_2/ vendas_2
RT_2 = vendas_2 / ativos_2
MPL_2 = ativos_2 / patrimonio_2
DuPont_2 = RLV_2 * RT_2 * MPL_2 * 100


# Extraindo as ativitidas da tabela do segundo ano antina_2

lucro_liq_22 = Cantina_2_df['Segundo Ano'].iloc[0]
vendas_22 = Cantina_2_df['Segundo Ano'].iloc[1]
ativos_22 = Cantina_2_df['Segundo Ano'].iloc[2]
patrimonio_22 = Cantina_2_df['Segundo Ano'].iloc[3]

RLV_22 =  lucro_liq_22/ vendas_22
RT_22 = vendas_22 / ativos_22
MPL_22 = ativos_22 / patrimonio_22
DuPont_22 = RLV_22 * RT_12 * MPL_22 * 100

In [27]:
# Adicionando os Calcs na tabela Cantana_1 Primeiro Ano

Cantina_1_df.loc['Rendibilidade liquida das Vendas', "Primeiro Ano"] = RLV_1
Cantina_1_df.loc['Rotação do Ativo', "Primeiro Ano"] = RT_1
Cantina_1_df.loc['Multiplicador do Patrimonio Liquido', "Primeiro Ano"] = MPL_1
Cantina_1_df.loc['ROE', "Primeiro Ano"] = DuPont_1

# Adicionando os Calcs na tabela Cantana_1 Segundo Ano
Cantina_1_df.loc['Rendibilidade liquida das Vendas', "Segundo Ano"] = RLV_12
Cantina_1_df.loc['Rotação do Ativo', "Segundo Ano"] = RT_12
Cantina_1_df.loc['Multiplicador do Patrimonio Liquido', "Segundo Ano"] = MPL_12
Cantina_1_df.loc['ROE', "Segundo Ano"] = DuPont_12

In [28]:
print('Dados Financeiros da Cantina_1')
Cantina_1_df

Dados Financeiros da Cantina_1

                                     Primeiro Ano   Segundo Ano
Lucro_liquido_1                            1000.0   1200.000000
Vendas_1                                  10000.0  10000.000000
Ativos_1                                   5000.0   4800.000000
Património_1                               2000.0   2000.000000
Rendibilidade liquida das Vendas              0.1      0.120000
Rotação do Ativo                              2.0      2.083333
Multiplicador do Patrimonio Liquido           2.5      2.400000
ROE                                          50.0     60.000000

## Cabtina_1 Observações:
   1. Aumento do Lucro Liquido: Reflete uma melhoria na eficiéncia operacional
   2. Redução do Ativo: Sugere uma maior eficiéncia no uso dos ativos, além de possibilitar a diminiução 
      das dividas, considerando que o capital próprio permanece inalterado.

In [29]:
# Adicionando os Calcs na tabela Cantana_2 Primeiro Ano

Cantina_2_df.loc['Rendibilidade liquida das Vendas 2', "Primeiro Ano"] = RLV_2
Cantina_2_df.loc['Rotação do Ativo 2', "Primeiro Ano"] = RT_2
Cantina_2_df.loc['Multiplicador do Patrimonio Liquido 2', "Primeiro Ano"] = MPL_2
Cantina_2_df.loc['ROE 2', "Primeiro Ano"] = DuPont_2

# Adicionando os Calcs na tabela Cantana_2 Segundo Ano
Cantina_2_df.loc['Rendibilidade liquida das Vendas 2', "Segundo Ano"] = RLV_22
Cantina_2_df.loc['Rotação do Ativo 2', "Segundo Ano"] = RT_22
Cantina_2_df.loc['Multiplicador do Patrimonio Liquido 2', "Segundo Ano"] = MPL_22
Cantina_2_df.loc['ROE', "Segundo Ano"] = DuPont_22

In [30]:
print('Dados Financeiros da Cantina_2')
Cantina_2_df

Dados Financeiros da Cantina_2

                                       Primeiro Ano  Segundo Ano
Lucro_liquido_2                             2100.00      2100.00
Vendas_2                                   17500.00     17500.00
Ativos_2                                   87500.00      8750.00
Património_2                                5000.00      3500.00
Rendibilidade liquida das Vendas 2             0.12         0.12
Rotação do Ativo 2                             0.20         2.00
Multiplicador do Patrimonio Liquido 2         17.50         2.50
ROE 2                                         42.00          NaN
ROE                                             NaN        62.50

## Cabtina_2 Observações:¶
   1. Aumento na Alancagem:Indica um aumento nas dividas, resultando na redução do capital próprio.
   2. Mantém Lucro e Ativos: Sugere riscos adicionais, uma vez que a divida ainda não ocasionou impacto 
      significativo ou contribiu com valor real.